{% load static %}

<nav class="navbar navbar-expand-lg  bg-body-tertiary" style="padding: 0px;">
    <div class="container-fluid" style="background-color: #0A121E;">
        
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <a class="navbar-brand" href="#" style="display: inline-block; margin-left: 5%">
        <img src="{% static 'main/images/nasa.svg' %}" alt="nasa" width="140%" height="140%">
      </a>

      <div class="collapse navbar-collapse nav-center-container" id="navbarTogglerDemo02" style="background-color: #0A121E">
        <ul class="navbar-nav mx-auto order-0">
          <li class="nav-item">
            <a class="nav-link" href="#" style="color: white">ПРЕИМУЩЕСТВА</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" style="color: white">ФОТОРАФИИ</a>
          </li>
        </ul>
      </div>

      <form action="" style="margin-right: 5%">
        <button type="button" class="btn btn-danger" >Вход</button>
      </form>

    </div>
  </nav>